@{
    ViewBag.Title = "AddClientStaff";
    }
@model ConsultancyApp.Models.Client_Staff

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <h1>Add Student</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Fill Required Fields</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="Add_Client_Staff_To_Database">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="First Name" name="First_Name" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Surname" name="Surname" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Middle Name" name="Middle_Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Role" name="Role" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Address" name="Address" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="City" name="City" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Country" name="Country" type="text">
                            </div>
                       
                            <div class="form-group">
                                <input class="form-control" placeholder="UserName" name="Username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="Password" type="password">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Phone" name="Phone" type="number" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" name="Email" type="email">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Add</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />