@{
    Layout = null;
  }
<html>
<head>
    <title>Image View</title>
</head>
<body style="background-color:black;">
    <center>
        <div style="margin-top:10%;">
            <img src="~/Content/Images/BG.jpg" width="400" height="600" />
            <h1>My testing</h1>

            <h1>My testing</h1>
            <h1>My testing</h1>
            <h1>My testing</h1>
        </div>
        </center>
</body>
</html>
