@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <style type="text/css">
        input {
            padding: 30px;
        }

        .navbar-brand {
            font-weight: bolder;
            font-family: 'Baloo', cursive;
        }
    </style>
</head>
<div style="height:100%;background-color: #E6E6E6;">
   
    <div class="container">
        <div class="row">
          <div class="col-md-offset-4 col-md-5 col-sm-12 col-xs-12" style="background-color:  rgba(255,255,255,1); border-top:4px solid #3AA3E3 ;  box-shadow: 1px 4px 8px rgba(0, 0, 0, .5);margin-top:10%;">
                   <h2 class="text-center">Login</h2>
                <br>
                <br>
                <form role="form" action="../Home/Dashboard">
                    <div class="form-group">
                        <input type="email" name="name" placeholder="Email Address" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control" required>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-success" style="margin-left: 190px; font-weight: bold; align-content: center; background-color: #3ac399;"><br><br>
                    </div>
                    <div class="form-group form-inline">

                        <p class="text-left">Forget Password? <a href="Reset_Password.html"> Reset Password</a></p>

                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
